body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.contacts {

  margin: 20px 0;

  &__group {
    position: relative;
    margin: 0 0 30px;
    border: 1px solid #000;
    border-radius: 20px;

    &:last-child {
      margin: 0;
    }

    &__title {
      position: absolute;
      top: -15px;
      left: 30px;
      padding: 0 10px;
      background-color: #fff;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__item {
    display: flex;
    padding: 25px;
    cursor: pointer;

    &:hover {
      border: 1px solid #ccc;
      border-radius: 20px;
    }
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 50px 0 0;
    border-radius: 50%;
    background-color: #ccc;
    text-transform: uppercase;
    font-size: 25px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
  }

  &__phone {
    font-size: 14px;
    color: rgb(139, 139, 139)
  }
}

.search-input {
  width: 100%;
  padding: 20px 0 20px 20px;
  background-color: rgb(231, 231, 231);
  border: 0px;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
}